.results{
    height: 100%;
    width: 40%;
    border: rgb(179, 217, 250) solid 1px;
    background-color: aliceblue;
}

.textCenter{
    display: flex;
    justify-content: center;
}

.textAjusting{
    display: flex;
    justify-content: center;
    color: blue;
}

h4{
    margin-top: 40px;
    margin-bottom: 10px;
    color: blue;
}

span{
    margin-bottom: -5px;
}

button{
    background-color: blanchedalmond;
    color: blue;
    border: black solid 1px;

}
